html, body {
  background-color: #21232a;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  height: 100vh;
}

#root {
  padding: 30px;
}

header {
  padding: 10px 5px;
}
